.create-transaction-form {
    background: var(--highlight-color-2);
    padding: 15px 0px;
}

.create-transaction-form form {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.create-transaction-form form input {
    border-color: var(--highlight-color-1);
}

.create-transaction-form form input::placeholder {
    color: var(--green-color);
}