.transactions-list.expenses h4 {
    color: var(--orange-color);
    text-transform: uppercase;
}

.transactions-list.expenses ul li.grid {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.transactions-list.expenses ul li .flex-wrap {
    display: flex;
    justify-content: space-between;
}

.transactions-list.expenses ul li .value {
    color: var(--orange-color);
}

.transactions-list.expenses ul li .percentage {
    background: var(--orange-color-light);
    padding: 3px 6px;
    font-size: 0.6em;
    margin: auto auto auto 10px;
    border-radius: 5px;
}
